@font-face {
  font-family: 'Oi';
  src: url('../fonts/Oi/Oi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open-sans';
  src: url('../fonts/open-sans/static/OpenSans-Regular.ttf');
}
